# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/back-web/README.md
/back-web/.gitignore
/back-web/.hgignore
/eurka-server/dependency-reduced-pom.xml
